{% extends 'base.html' %}

{% block page_title %}
  Halaman Kegiatan - Kemahasiswaan Poltek Aceh
{% endblock %}

{% block content %}
    <!-- <div class="col-md px-5"> -->
      
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2">
            <h1 class="h2">Data Kegiatan Kampus Politeknik Aceh</h1>
          </div>

          <div class="card">
            <div class="card-header">
              Table Kegiatan
            </div>
            <div class="card-body">
          <div class="container">
            <div class="row">
              {# Membuat tabel #}
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                     <h3>
                      Data Kegiatan : 
                      <a href="{% url 'tambah_kegiatan' %}" class="btn btn-success btn-sm justify-content-end">Tambah +</a>
                    </h3>
                  </div>
                  <div class="col-sm">
                    <form method="get" class="d-flex align-items-center g-3 mb-3">
                        <div class="row">
                          <div class="col-md">
                            {{ myFilter.form.tanggal_publikasi }}
                          </div>
                          <div class="col-sm input-group">
                            {{ myFilter.form.judul }}
                            <button type="submit" class="btn btn-primary">
                              <i class="fas fa-search fa-fw"></i>
                          </div> 
                          </button>
                        </div>
                      </form>
                  </div>
                </div>

                  {% for message in messages %}
                    {% if messages %}
                      <div class="alert alert-success">
                        {{ message }}
                      </div>
                    {% endif %}
                  {% endfor %}
                <table class="table table-bordered">
                  <thead class="text-center table-dark">
                    <tr>
                    <th>Kegiatan</th>
                    <th>Publikasi</th>
                    <th>Deskripsi</th>
                    <th>Image</th>
                    <th scope="col" style="width: 10rem;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for kegiatan in dt_kegiatan %}
                    <tr>
                      <td>{{ kegiatan.judul }}</td>
                      <td>{{ kegiatan.tanggal_publikasi | date }}</td>
                      <td>{{ kegiatan.Deskripsi | truncatewords:20 }}</td>
                      {% if kegiatan.image %}
                          <td><img src="{{ kegiatan.image.url }}" width="40px" height="40px"/></td>
                      {% else %}
                          <td>No image available</td>
                      {% endif %}             
                      <td>
                        <center>
                          <a href="{% url 'ubah_kegiatan' kegiatan.id %}"><i class="fa-solid fa-pen-to-square p-2" style="color: #ffcc00;"></i></a> 
                          <i type ="button" class="fa-solid fa-trash p-2" data-bs-toggle="modal" data-bs-target="#hapus-{{ kegiatan.id }}" style="color: #b30000;"></i>
                          {# <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#hapus-{{ kegiatan.id }}"><i class="fa-solid fa-trash"></i></button> #}
                        </center>
                      </td>
                      <div class="modal" tabindex="-1" id="hapus-{{ kegiatan.id }}">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Hapus</h5>
                            </div>
                            <div class="modal-body">
                              apakah anda yakin ingin menghapus <strong>{{ kegiatan.judul | upper }}</strong>
                            </div>
                            <div class="modal-footer">
                              <a href="{% url 'hapus_kegiatan' kegiatan.id %}" class="btn btn-danger">Hapus</a>
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Batal</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="5" class="text-center">Data tidak ditemukan.</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>      
              </div>

              {# Page Halaman #}
              <div class="col-md d-flex justify-content-end">
                {% if is_paginated %}
                  <nav aria-label="kegiatanPage">
                    <ul class="pagination">

                      {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="/data-kegiatan/page/{{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                      {% else %}
                        <li class="page-item disabled">
                          <a class="page-link">Previous</a>
                        </li>
                      {% endif %}
                    
                      {% for page in paginator.page_range %}                    
                        {% if page is page_obj.number %}
                          <li class="page-item active" aria-current="page">
                              <a class="page-link">{{ page }}</a>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="/data-kegiatan/page/{{ page }}">{{ page }}</a></li>
                        {% endif %}
                      {% endfor %}

                      {% if page_obj.has_next %}
                          <li class="page-item">
                              <a class="page-link" href="?{{ myFilter.form.qs.urlencode }}&page={{ dt_kegiatan.next_page_number }}">Next</a>
                          </li>
                      {% else %}
                          <li class="page-item disabled">
                              <a class="page-link" href="?{{ filter_params }}&page={{ dt_kegiatan.next_page_number }}">Next</a>
                          </li>
                      {% endif %}

                    </ul>
                  </nav>
                {% endif %}
              </div>

            </div>
          </div>
        </div>

        </div>
   <!--  </div> -->
  
{% endblock %}
