{% extends 'base.html' %}

{% block page_title %}
  Tambah Kegiatan - Kemahasiswaan Poltek Aceh
{% endblock %}

{% block content %}

	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2">
		<h1 class="h2">Data Kegiatan Kampus Politeknik Aceh</h1>
	</div>

		<div class="card">
		    <div class="card-header">
		          Form Kegiatan
		    </div>
		        <div class="card-body">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								{% if pesan %}
									<div class="alert alert-success">{{ pesan }}</div>
								{% endif %}
								<form action="/tambah-kegiatan/" method="post" enctype="multipart/form-data"> 
								    {% csrf_token %}
								    {{ form.as_p }}
								    <input type="submit" name="tambah_buku" value="Tambah Buku" class="btn btn-primary">
								    <a href="/data-kegiatan" class="btn btn-danger">Kembali</a>
								</form>
							</div>
						</div>
					</div>
				</div>
		    </div>


{% endblock %}