{% load static %}
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-start" href="#">
                <div class="sidebar-brand-icon mx-2">
                    <img src="{% static 'img/KEMAHASISWAAN.png' %}" width="100px">
                   <!--  <i class="fas fa-laugh-wink"></i> -->
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <!-- Nav Item - kegiatan -->
            <li class="nav-item">
                <a class="nav-link" href="/data-kegiatan">
                    <!-- <i class="fas fa-fw fa-chart-area"></i> -->
                    <i class="fa-solid fa-clipboard"></i>
                    <span>Kegiatan</span>
                </a>
            </li>

            <!-- Nav Item - prestasi -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Prestasi</span></a>
            </li>

            <!-- Nav Item - Pelanggaran -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Pelanggaran </span></a>
            </li>